<mat-card class="margen-cards">
    <mat-card-content>
        <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input formControlName="firstName" matInput placeholder="First Name">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!regiForm.get('firstName').valid && regiForm.get('firstName').touched">Wrong
                                First Name </span>
                        </mat-error>
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input   formControlName="lastName" matInput placeholder="Last Name">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!regiForm.get('lastName').valid && regiForm.get('lastName').touched">Wrong Last
                                Name !!!</span>
                        </mat-error>
                    </td>

                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <textarea formControlName="address" matInput placeholder="address" matTextareaAutosize
                                matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!regiForm.get('address').valid && regiForm.get('address').touched">Wrong
                                address</span>
                        </mat-error>
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input formControlName="mail" matInput placeholder="Email">
                            <mat-hint>use like : demo@softtek.com</mat-hint>
                            <mat-error>
                                <span *ngIf="!regiForm.get('mail').valid && regiForm.get('mail').touched">Wrong email
                                    address</span>
                            </mat-error>
                        </mat-form-field>
                    </td>

                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input type="tel" formControlName="phone" matInput placeholder="Phone">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!regiForm.get('phone').valid && regiForm.get('phone').touched">Wrong Phone</span>
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="content-center">
                        <button mat-raised-button color="accent" [disabled]="!regiForm.valid">Submit</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>