<mat-card class="margen-cards">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <!-- Tabla con Usuarios-->
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> firstName </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> lastName </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> address </th>
          <td mat-cell *matCellDef="let row"> {{row.address}} </td>
        </ng-container>
        
        <ng-container matColumnDef="mail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> mail </th>
          <td mat-cell *matCellDef="let row"> {{row.mail}} </td>
        </ng-container>
    
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> phone </th>
          <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>
    
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    </mat-card>
    