
<div [class.hidden]="!show">
  <div class="loader-overlay">
    <div *ngIf="show" class="loader">

      <mat-progress-bar mode="indeterminate" [color]="'warn'" ></mat-progress-bar>


    </div>
  </div>
</div>