/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.margen-cards {

    margin: 4%;
    text-align: center;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
  }
  
  td, th {
    width: 25%;
  }

  